body {
  background: rgb(0, 0, 0);
  color: rgb(255, 244, 222);
}

/* *********************************** Navbar Section ********************************************/
.navbar-expand-lg {
  background-color: #000000;
  z-index: 2;
  height: 74px;
}
.nav-logo{
  height: 86px;
    width: 91px;
    margin-top: 1.5rem;
}

.navbar-brand {
  font-family: myFirstFont;
  font-weight: 500;
  /* font-size: 0.5rem; */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 3.5rem;
}
.nav-item /* for each navbar item */ {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.logo-size-position {
  height: 7rem;
  width: 6rem;
  padding-top: 1.5rem;
  margin-left: -6rem;
  margin-top: -1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Heavy", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  margin-top: -10px;
  padding: 30px;
  color: burlywood;
  border-bottom: 1px solid rgb(255, 223, 169);
}
.content {
  display: flex;
  flex-direction: row;
  word-wrap: normal;
}
li {
  /* padding: 10px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
.text-white li{
  padding: 10px;
}

@media screen and (max-width: 992px){
  .navbar-nav{
  background-color: #FFC107;
  text-align: right;
  width: 150px;
  border-radius: 10%;
  
}
}


.main--nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000000;
  background: #00000091;
  backdrop-filter: blur(4px);
}
.outer--div{
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 1rem;
}

.nav--img{
  width: 90px;
  margin-left: 2rem;
}
.logo--div{
  display: flex;
  width: 40%;
  align-items: center;
}
.logo--div h1{
  font-size: 3rem;
  font-family: "myFirstFont";
  width: 100%;
  text-align: center;
  color: white;

}
.link--div{

  width: 60%;
  /* display: flex;
  align-items: center; */
  /* text-align: center; */
}
.link-list{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}
.link-list li{
  text-decoration: none;
  list-style: none;
opacity: 0.8;  
transition-duration: 250ms;
}
.link-list li a{
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.744);

  font-size: 1.6rem;

}
.link-list li:hover{
  color: rgba(255, 255, 255, 0.911);
transform: scale(0.95);
opacity: 1;
border-bottom: 2px solid  rgba(255, 255, 255, 0.911);}
.link-list li:active{
  color: rgba(255, 255, 255, 0.945);
  transform: scale(0.85);
  opacity: 1;

}

.current-page a{
  color: white !important;
}

#loading {
  position: fixed;
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  /* background-color: #ffffff; */
  background-color: rgb(14, 17, 24);
  backdrop-filter: blur(7px);
  z-index: 99999999;
  
}